<div id="<?php echo $key; ?>Message" class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-success myadmin-alert-top alerttop" style="display:block; z-index:1500">
    <i class="ti-user"></i> <?php echo $message; ?> <a href="#" class="closed">×</a>
</div>